// .section1-faq{
//     display: flex;
//     flex-direction: row;
//     justify-content: right;
// }
// .h4-h6{
//     margin-right: 35%;
//     margin-top: 150px;
//     font-size: larger;
//     color: #DA244B;
// }
// .ask-img{
//     margin-right: 70px;
//     margin-top: 30px;
// }

.wrapper{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
.accordion, .img-faq{
    width: 1200px;
}
.item-faq{
    background: #DA244B;
    margin-bottom: 5px;
    padding: 10px 20px;
    border-radius: 66px;

}
.title-faq{
    color: #DA244B;
    font-size: larger;
    font-weight: bold;
}
.title-h4-faq{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.content-faq{
    color: white;
    max-height: 0;
    overflow: hidden;
    transition: all 0.4s cubic-bezier(0,1,0,1);
}
.content-faq.show{
    height: auto;
    max-height: 9999px;
    transition: all 0.7s cubic-bezier(1,0,1,0);
}
.img-arrow{
    width: 20px;
    height: 20px;
}
.h3-section2{
    font-size: larger;
    color: #DA244B;
}
.form-group-faq{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.form-group-faq input{
    width: 20%;
    height: 40px;
    border-radius: 15px;
    border-color: #DA244B;
}
.form-group-faq button:hover{
    width: 23%;
}
.form-group-faq button{
    width: 40px; 
}
