
*.dll
*.json
*.props
*.cache
*.editorconfig
ClickPostaAPI/obj/Release/net6.0/ClickPostaAPI.AssemblyInfo.cs
ClickPostaAPI/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
*.pdb
ClickPostaAPI/obj/staticwebassets.pack.sentinel
ClickPostaAPI/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
ClickPostaAPI/obj/Debug/net6.0/apphost.exe
ClickPostaAPI/obj/Debug/net6.0/ClickPostaAPI.AssemblyInfo.cs
*.BuildWithSkipAnalyzers
*.CopyComplete
ClickPostaAPI/obj/Debug/net6.0/ClickPostaAPI.csproj.FileListAbsolute.txt
*.targets
ClickPostaAPI/obj/Debug/net6.0/ClickPostaAPI.MvcApplicationPartsAssemblyInfo.cs
ClickPostaAPI/bin/Debug/net6.0/ClickPostaAPI.exe
