.base-container {
    align-items: center;
    
    a{
        text-decoration: none;
    }

    .client-user-icon {
        width: 4vw;
        margin: 10px;
        margin-bottom: 0;
        padding: 10px;
        padding-bottom: 0;
    }
    .client-user-icon:hover {
        opacity: 0.8;
        transition: width 250ms ease-in-out, 
            transform 150ms ease;
    }

    .dashboard-links {
        display: flex;
        border-radius: 60px;
        box-shadow: 0px 6px 6px 0.3px #da244b6b;
        margin-bottom: 60px;
        justify-content: space-around;
        padding-inline: 30px;
    }
   
}