.porosia-details-main {
    width: 100%;


    .porosia-main-details {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 50px;


        .porosia-main-details-info p {
            font-size: 16px;
            font-weight: 500;
            font-family: 'Open Sans', "sans-serif";
            text-align: start;
        }
    }
}
