.main-div{

    .cards{
        margin-top: 80px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-evenly;
    }
    .card-outline{ 
        background-color: #DA244B;
        border: 15px solid #DA244B;
        width: 15%;
    }
    .card-inline{
        border: 1px solid white;
        background-color: white;   
    }
    .img{
        width: 130px;
        height:130px;
    }
    .time-support{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-right: 15px;   
        margin-left: 40px;
    }
    .price-security{
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
        padding-right: 15px; 
    }
    .img2{
        display: flex;
        flex-direction: row;
        margin-bottom: 40px;
        margin-top: 170px;
        margin-left: 10%;
    }
    .img2 p{
        padding-top: 6%;
        padding-left: 2%;
        text-align: justify;
        font-size: larger;
    }
  
    .img2 img{
        width: 45%;
        box-shadow: rgba(92, 92, 92, 0.48) 7px 3px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    }
    .h4{
        color: #DA244B;
        font-size: 23px;
        padding-top: 20px;
    }
    .div-section2{
        padding-left: 15px;
        padding-top: 25px;
    }
    .section2{
        margin-top: 210px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        width: 700px;
        height: 480px;
        margin-left: 33%;
    }
    .time-support, .price-security{
        margin-bottom: 65px;
        font-size: larger;
    }
    
    .section3-img{
        width: 120px;
    }
    .div-funksione{
        display: flex;
        flex-direction: row;   
        align-items: center;
        justify-content: space-evenly;    
    }
    .section3{
        border: 1px solid black;
        margin-top: 290px;
        margin-bottom: 40px;
        height: 435px;   
        background-color: #DA244B;
    }
    .div-mbledhja, .div-klasifikimi, .div-shperndarja{
        border: 1px solid black;
        margin-top: 17px;
        width: 300px;
        height: 300px;
        background-color: #9E1B37;
        color: white;
    }
  

}


