    .greetings-section{
        .add-order-btn{
            width: 70%;  
            min-width: 18em;
            margin-top: 6px;
            min-width: 10em;
            height: 50px;
            padding: 0px 10px;
            font-size: 16px;
            font-weight: 500;
            font-family: 'Open Sans', "sans-serif";
            background-color: #DA244B;
            border: 0;
            border-radius: 66px;
            color: #f3f3f3;
            cursor: pointer;
        }
    }

    .client-main{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        p{
            color: white;
        }
        .left-section{
            width: 50vw;
            border-radius: 40px;
            margin: 2vw;
                .latest-order{
                    display: flex;
                    width: 100%;
                    border-radius: 20px;
                    background-color: #DA244B;
                    text-align: start;
                    align-items: center;
                    .latest-order-info{
                        display: flex;
                        flex-direction: column;
                        width: 70%;
                        margin: 3% 6%;
                        .latest-order-info-row{
                            display: flex;
                            width: 100%;
                            justify-content: flex-start;
                            align-items: center;
                            font-size:1.2rem;
                            font-weight: 300;
                            p{
                                margin: 0%;
                                margin-bottom: 2%;
                            }
                        }
                        .latest-order-info-title{
                            width: 50%;
                            font-weight: bolder;
                            font-size: 1.2rem;
                        }
                    }
                }
                .latest-order-status{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding-right: 1.5vw;
                    width: 40%;
                    height: 100%;
                }
        }
        .right-section{
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            width: 50vw;
            margin: 2vw;
            border-radius: 40px;
            background-color: #9E1B37;
            color: white;

            .client-order{
                display: flex;
                justify-content: space-between;
                width: 90%;
                border-radius: 25px;
                box-shadow: 0px 0px 10px 1px #6e0c21;
                background-color: #DA244B;
                padding: 3% 0%;
                margin-bottom: 1vw ;
                .client-order-info{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: left;
                    padding-left: 1.5vw;
                    p{
                        margin:3px 0px;
                    }
                    .client-order-info-row{
                        display: flex;
                        width: 100%;
                        font-size:1.2rem;
                        font-weight: bolder;
                        img{
                            margin: 3px;
                            height: 1.2vw;
                        }
                    }
                }
                .client-order-status{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    padding-right: 1.5vw;
                    width: 20%;
                }
                
            }
        }
    }