
.logo--img{
	width: 100px;
}

.logo--header{
	width: 100px;
	margin-right:2%;
}

.main--sektori{
	width: 80%;
	margin-left: 10%;
	margin-top: 50px;
}

.main--depo {
	margin-top: 50px;
}

.add--sektori{
	margin-bottom: 40px;
}

.add--depo {
	width: 90%;
	margin-left: 5%;
	margin-top: 10px;
	margin-bottom: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.add--depo button{
	margin-left: auto;
	margin-right: auto;
}

.img--add{
	width: 40px;
}

.img--delete{
	width: 30px;
	padding: 4px 3px 2px 3px;
}

.img--update {
	width: 35px;
	padding: 4px 3px 2px 3px;
}

.add--button{
	border: none;
	background: none;
}

	.add--button:hover {
		border-radius: 60px;
		box-shadow: lightgreen 1px 1px 2px;
	}

.main--depo{
	width: 95%;
	margin-left: 2.5%;
}

.depo--img--btn{
	width: 40px;
	margin-right: 20px;
}

.routing--btn button{
	margin-left: 20px;
	margin-right: 30px;
}

.dropdown--main{
	display:flex;
	justify-content: center;
	align-items: center;
}

.deposektori--main {
	width: 90%;
	margin-left: 5%;
}

.deposektori--shtoDepoSektori {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 30px 20px 20px;
}

.depoSektori--table{
	width: 95%;
	margin-left: 2.5%;
	margin-bottom: 30px;
}

.add--search{
	display: flex;
	justify-content: space-between;
}

.update--sektori {
	width: 60%;
	margin-left: 20%;
	margin-top: 30px;
	border-radius: 5px;
	box-shadow: gray 1px 1px 1px 1px;
}

.update--sektori TextField {
	margin-top: 20px;
}

.update--sektori button{
	margin-top: 40px;
	margin-bottom: 20px;
}

.update--depo {
	width: 80%;
	margin-left: 10%;
	margin-top: 30px;
	border-radius: 5px;
	box-shadow: gray 1px 1px 1px 1px;
}

.update--depo--form {
	display: flex;
	justify-content: space-evenly;
}

.update--depo button {
	margin-top: 40px;
	margin-bottom: 20px;
}